.container {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #8b30d5;
  --button-secondary-hover: #e0dcdc;

  --button-primary: #8b30d5;
  --button-secondary: #e3e1e1;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.button {
  background-color: var(--button-primary);
  color: var(--button-secondary);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logList {
  list-style: none;
  padding: 2rem;
  background-color: var(--gray-alpha-100);
  border-radius: 5px;
  border: 1px solid var(--gray-alpha-200);
}

.redText {
  color: red; 
}